etcd-datavolume:
  image: busybox
  command: /bin/true
  net: none
  volumes:
  - /data
  labels:
    io.rancher.container.start_once: 'true'


etcd:
  image: rancher/etcd:v2.3.7-6
  labels:
    io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
    io.rancher.sidekicks: etcd-datavolume
  environment:
    RANCHER_DEBUG: '${DEBUG}'
  volumes_from:
  - etcd-datavolume


arken:
  image: arken/arken:latest
  links:
    - etcd:etcd
  ports:
    - "8888:8888"
  environment:
    DRIVER: rancher
    ETCDADDRESS: http://etcd:2379/
  labels:
   "io.rancher.container.create_agent" :"true"
   "io.rancher.container.agent.role": "environment"  
gogeta:
  image: arken/gogeta:v2
  links:
    - etcd:etcd
  ports:
    - "80:7777"
  labels:
    io.rancher.scheduler.global: 'true'
